@page "/checkout"

@using LibraryManagementSystem.DatabaseManager
@using LibraryManagementSystem.Models.Interfaces
@using LibraryManagementSystem.Models.Users
@using LibraryManagementSystem.Models;
@using LibraryManagementSystem.Models.Items;

<div>
    <!-- Checkout form -->
    <h2>Checkout</h2>
    <h5>@err</h5>

    <div style="display: flex; flex-direction: column; gap: 10px;">
        <!-- User ID input -->
        <div>
            <label>User id: </label>
            <input @bind="userId" />
            <button @onclick="ContinueFromUserIdInput">Continue</button>
            <!-- Display user details if available -->
            @if (user != null)
            {
                <h3>@user.ToString()</h3>
            }
        </div>

        <!-- Item ID input -->
        @if (user != null)
        {
            <div>
                <label>Item id: </label>
                <input @bind="itemId" />
                <button @onclick="ContinueFromItemIdInput">Continue</button>

                <!-- Display item details if available -->
                @if (item != null)
                {
                    <h3>@item.GetInfo()</h3>
                }
            </div>

            <!-- Checkout button -->
            @if (item != null)
            {
                <button style="width: fit-content" @onclick="CheckOut">Checkout</button>
            }
        }
    </div>
</div>

@code {
    // Fields
    private int? userId;
    private int? itemId;
    private User? user;
    private static LibraryItem? item;
    private string? err;

    // Method to handle checkout
    private void CheckOut()
    {
        try
        {
            if (user != null && item != null)
            {
                BorrowItemsManager.HandleBorrow(user, item);
            }
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }

    // Method invoked after user clicks 'Continue' after entering userid
    private void ContinueFromUserIdInput()
    {
        try
        {
            user = UsersManagement.GetUser(userId);
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }

    // Method invoked after user clicks 'Continue' after entering item id
    private void ContinueFromItemIdInput()
    {
        try
        {
            item = LibraryItemsManager.GetItem(itemId);
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
}
